* {
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}

.pokemon-card {
    border: 2px solid black;
    border-radius: 20px;
    width: clamp(120px, 200px, 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-container {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.score-container > p {
    margin: 20px 0;
}

.loading-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    inset: 0;
    place-self: center;
    gap: 20px;
    font-size: 40px;
    font-weight: 900;
}

.circle {
    border: 8px solid black;
    border-right: 8px solid green;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    animation: spin 1.4s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}